
JebraAzureFunctions/.vs/JebraAzureFunctions/DesignTimeBuild/.dtbcache.v2
JebraAzureFunctions/.vs/JebraAzureFunctions/DesignTimeBuild/.dtbcache.v2
JebraAzureFunctions/.vs/JebraAzureFunctions/v16/.suo
