@import "styles/colors";

@mixin stroke {
    stroke: $dark-blue;
    stroke-width: 4px;
    stroke-linejoin: round;
}

.triangle {
    @include stroke;
    fill: $blue;
}

.arc {
    @include stroke;
    fill: $light-blue;
}

@mixin label {
    font-size: 1.1em;
    font-weight: 500;
}

.sideLabel {
    @include label;
    fill: $blue;
}

.angleLabel {
    @include label;
    fill: $dark-blue;
}