@import "styles/colors";

.triangleFill {
    fill: $blue;
}

.triangleStroke {
    fill: none;
    stroke: $dark-blue;
    stroke-width: 4px;
    stroke-linejoin: round;
}

.arc {
    fill: $green;
}

@mixin label {
    font-size: 1.1em;
    font-weight: 500;
    fill: $dark-blue;
}

// I keep separate classes for side length labels and angle labels
// so we can style them differently if needed
.sideLabel {
    @include label;
}

.angleLabel {
    @include label;
}