@import "styles/colors";

.svg {
    grid-area: media;

    width: 80%;

    @media (max-width: 600px) {
        width: 50%;
    }
}

.triangleFill {
    fill: $blue;
}

.triangleStroke {
    fill: none;
    stroke: $dark-blue;
    stroke-width: 4px;
    stroke-linejoin: round;
}

.arc {
    fill: $green;
}

@mixin label {
    font-size: 1.1em;
    font-weight: 500;
    fill: $dark-blue;

    @media (max-width: 600px) {
        font-size: 1.8em;
    }
}

// I keep separate classes for side length labels and angle labels
// so we can style them differently if needed
.sideLabel {
    @include label;
}

.angleLabel {
    @include label;
}