@import "styles/colors";

@media screen and (max-width: 600px) {
    .header {
        background-color: $green;
    }
}

.header {
    background-color: $dark-grey;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));

    display: flex; /* or inline-flex */
    flex-flow: row wrap;
    justify-content: space-between;

    position: relative;
    height: 10rem;

    border-radius: 15px;
}

.logoDesktop {
    width: 20%;
    margin-left: 2rem;
    align-self: center;
}

.logoMobile {
    width: 40%;
    align-self: center;
}

.menu {
    justify-content: space-between;
    display: flex; /* or inline-flex */
    flex-flow: row;
    justify-content: space-between;
    align-items: left;
    width: 34rem;
}

.menuButton {
    color: $light-grey;
    font-size: 1.5em;
    size: "30px";
    margin-left: "38px";
    a:hover {
        background-color: $green;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}