@import "styles/colors";

.red {
    width: 400px;
    height: 50px;
    background-color: $red;
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
}

.green {
    height: 100%;
    background-color: $green;
    margin: 0;
    transition-property: width;
    transition-duration: 0.5s;
}