/*
    Desktop:
        - Monster/diagram on left with healthbar underneath
        - Question on the right with numpad underneath

    Mobile:
        - No monster
        - Healthbar at top
        - Question underneath
        - Numpad underneath

    Both:
        - Don't show course code or player count; only on teacher's view
*/

.content {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 
        "media  question"
        "media  numpad"
        "media  numpad"
        "health numpad";

    @media (max-width: 600px) {

    }
}

.content > * {
    justify-self: center;
    align-self: center;
}


